* {
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
}
a {
  text-decoration: none;
  color: #8e7553;
}

nav {
  background-color: #0f172b;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1000000;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

#logo {
    color: #8e7553;
    font-size: 30px;
    font-weight: bold;
    margin-left: 100px;
}
nav ul li {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
}

nav ul li a {
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px;
  display: inline-block;
}

header {
  background-image: url("imgs/slide_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header .slider h1 {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 60px;
  font-weight: 900;
  margin-top: 250px;
  margin-left: 80px;
}
header .slider p {
  color: white;
  font-family: "Libertinus Serif Display", sans-serif;
  font-size: 25px;
  margin-left: 80px;
}

.content {
  height: 400px;
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
}
.content h1 {
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 60px;
  color: #000000;
}
.content hr {
  width: 65px;
  border: 2px solid #a78e6d;
  margin: 0 auto 20px;
}
.content p {
  font-size: 20px;
  color: #000000;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}

.menu {
  text-align: center;
  padding: 20px;
  background-color: #e4e4e4;
}
.menu h1 {
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 60px;
  color: #000000;
}
.menu hr {
  width: 65px;
  border: 2px solid #a78e6d;
  margin: 0 auto 20px;
}

.buttons {
  margin-bottom: 20px;
}
.buttons button {
  background-color: #8e7553;
  color: white;
  border: none;
  padding: 10px 40px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}
.buttons button:hover {
  opacity: 0.8;
}

.items {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  flex: 0 0 calc(25% - 20px);
  background: #c8b08f;
  border-radius: 12px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.2s;
  margin-top: 30px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #0f172b;
}

.btn {
  display: inline-block;
  background: #0f172b;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
  transition: background 0.2s;
}

.btn:hover {
  background-color: #0f172b66;
}

.back {
  background-color: #e4e4e4;
  height: 80px;
}
.footer {
  background-color: #0f172b;
  color: #fff;
  padding: 50px 0 20px;
  font-family: "Josefin Sans", sans-serif;
}

.footer .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #8e7553;
  font-style: italic;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 12px;
  font-size: 16px;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.footer ul li a:hover {
  color: #8e7553;
}

.footer .sec3 ul li {
  line-height: 1.8;
}

.footer .sec4 ul li {
  line-height: 1.6;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 15px;
  padding-top: 15px;
}

.footer-bottom a {
  color: #8e7553;
  text-decoration: none;
  font-weight: bold;
}
